{% extends "voc2.j2" %}

{% block summary %}
<p>Vul hier een samenvatting van mijn vocabularium in.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
