{% extends "purl_ap2_en.j2" %}

{% block summary %}
<p>Insert here the short summary of the applicationprofile.</p>
{% endblock %}

{% block status %}
<p>(Remove this block to show an automated default paragraph.)</p>
{% endblock %}
