{% extends "purl-ap2_en.j2" %}

{% block summary %}
<p>The application profile NETEX Belgium – Stop Places describes how the terms from the corresponding <a href="https://purl.eu/ns/mobility/timetables-and-planning">vocabulary</a> should be used to describe physical stops and their link to the logical stops in a public transport network.</p>
<p>The standard is based on the EPIP profile on <a href="https://netex-cen.eu/">NETEX</a>.</p>
<p>Use case here is to describe stop place infrastructure, stop place plans and route planning based on stations, POIs or topographical places.
<p>The Scheduled Stop Point class (discussed more extensively in <a href="https://fixme.com">NETEX Belgium - Timetables</a>) describes the points where Lines stop when performing a Service Journey. They are the logical stops of a Network, the points where you can get off the bus, but also from which other stops in the Network can be reached or from which you can transfer to stops of an overlapping Network.</p>
<p>Physically, these stops realize themselves as a Stop Place, so this class represents the physical stops. This can range from stop posts or shelters to complete stations with several floors for different modes of transport.</p>
<p>Both classes are interconnected, typical case is the multimodal situation where each Network has its own Scheduled Stopping Points even if they coincide spatially (eg a Stop Place where both buses and trams stop). Via the Stop Place – Scheduled Stop Point relationship you can check which public transport services you can consume at the physical stop.</p>
<p>It is assumed that all Scheduled Stop Points (logical stops) within a Stop Place (physical stop) are within walking distance of each other, in other words that implicit transfers are possible between the logical stops of a Stop Place. The model currently does not allow to explicitly describe these connections.</p>
<p>The advantage of Stop Place is also that the physical side of the stop infrastructure can be described separately from the description of the Network's topology. Classes such as Quay and Stop Place Entrance are provided, among others. It is also possible to directly link Scheduled Stop Points with Quays.</p>
<p>A Stop Place is also a Site and thanks to the self-association of Stop Place a hierarchy of Stop Places can be elaborated. EPIP allows 3 levels: General (multimodal), Monomodal and Quay. Group Of Stop Places also allows you to group similar Stop Places, eg according to their location (eg all metro stations in Brussels).</p>
<p>Finally, we mention supporting classes such as Point Of Interest and Topographic Place (which allow you to plan a trip without knowing stop names).</p>
{% endblock %}
