{% extends "purl-ap2_en.j2" %}

{% block summary %}
<p>The application profile NETEX Belgium - Timetables describes how the terms from the corresponding vocabulary should be used to describe the network topology and timetables of a public transport network.</p>
<p>De standard is based on the EPIP profile on <a href="https://netex-cen.eu/">NETEX</a>.</p>
<p>Use cases for this standard are: route planning, cartography (network plans), timetables and looking up stops/lines.</p>
<p>Public transport is typically offered in the form of Lines, which can be grouped, for example on the basis of the transport mode (train, tram, bus…) and form part of a Network. These Lines follow certain Routes on the terrain, the model allows to describe the direction and geometry of these Routes by means of Route Points and connections between them, the Route Links.</p>
<p>Another part of the model describes the services offered by the Lines: the places where stops are made and the times at which these stops are made.</p>
<p>A Line follows a so-called Journey Pattern, ie the sequence of Points that are served by the Line. Its specialization, a Service Pattern, describes the sequence of Points where you actually stop. These are the so-called Scheduled Stop Points: places where passengers can get on or off. These logical stops can be linked to physical stops (Stopping Place class) that are described separately in the application profile NETEX Belgium - Stopping Places.</p>
<p>Transit Times can be specified for each point served by a Line or where it stops for passengers. These times can be grouped per stop, which are the typical timetables found there. They can also be ordered according to the Journey Pattern of a Line and then describe an individual Service Journey with the Transit Times at the stops.</p>
<p>A specific Service Journey is not necessarily performed daily, it may be limited to certain Day Types, eg only on weekdays. The model allows to describe and link these Day Types to actual dates (Operational Days) and periods (Operational Periods) in order to arrive at a complete Service Calendar.</p>
<p>Finally, we mention some supporting classes, eg to indicate the parties that offer or perform the transport (respectively the Authority and the Operator) or to describe Vehicle Types and their Passenger Capacity or a class that supports route planning (Service Journey Link).</p>
{% endblock %}
